.post-item
    text-align left
    padding rem(40px) 0
    border-bottom 3px solid lightGray
    center(rem(1000px))
    +below(rem(1000px))
        padding-left rem(20px)
        padding-right rem(20px)
    .datetime
        col(1/6)
        text-align center
        text-decoration none
        +below(cut)
            stack()
        .day
            mainFont(800)
            color #444
            font-size rem(80px)
            line-height 1.6
            +below(cut)
                stack()
        .month-year
            color black
            font-size rem(18px)
    .content
        col(5/6)
        +below(cut)
            stack()
        a
            text-decoration none
        .date
            color #333
        .post-title
            color headerText
            font-size rem(32px)
            +below(cut)
                text-align center
            &:hover
                color hover;
        .description
            color #6a6c6e
            mainFont(300)
            font-size rem(20px)
            a
                color hover
                text-decoration underline
